.website_name {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-index {
  z-index: 10;
  position: absolute;
}

.navbar {
  background-color: #ffffff;
  color: #000000;
  font-weight: 50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 10px; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: relative;
  flex-wrap: wrap;
  border-color: #000000;
}

.logo {
  /* font-size: 1.5rem; */
  /* font-weight: bold;  */
  /* background-image: url("../../assets/img/bestshop.jpg"); */
  /* background-image: url("../../../public/bestshop_logo.jpg"); */
  width: 150px;
  height: 40px;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
}

.badge {
  background-color: #ff8000;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 0.9rem;
  position: absolute;
  top: -10px;
  right: -10px;
}


.navbar-dropdown {
  height: 90vh;
  width: 200px;
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 10px;
  padding-right: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
  left: 1px;
  top: 55px;
}

@media (max-width: 750px) {
  .navbar-dropdown {
    height: 100vh;
  }
}

.popup-container {
  background-color: #fefefe;
  border: 5px solid #b0abab;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}


.popup-content1 {
  display: flex;
  background-color: #b0abab;
  border: none;
  flex-direction: column;
  align-items: center;
}

.popup-text {
  font-size: 16px;
  margin-bottom: 16px;
}

.popup-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.just {
  z-index: 2;
  position: absolute;
  top: 100px;
}

.menu-dropdown {
  position: absolute;
}


@media (max-width: 999px) {
  .vertical-navbar {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .website_name {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }


}

.popup-button:hover {
  background-color: #c00e0e;
}

@media (max-width: 768px) {
  .icons-container {
    display: none;
  }

  .icons-container.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
  }

}

.popup-content1 {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 60%;
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
