.model-card{
    display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  background-color: var(--background-1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  flex-direction: column;
  border-radius: 5px;
  /* padding: 40px 20px; */

  margin: auto;

}
.iterate-chart{
    display: flex;
    flex-direction: row;
}

.model-chart{
    /* display: flex; */
    /* width: 70%; */

}
.total-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; */
}

.twobytwo1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}