.model-card {
    display: flex;
    gap: 0px;
    flex-wrap: nowrap;
    background-color: var(--card);
    box-shadow: var(--background) 0px 2px 8px 0px;
    padding: 5px 5px;
    flex-direction: column;
    border-radius: 5px;
    margin: auto;
}

.model-heading {
    color: var(--text);
}

.iterate-chart {
    display: flex;
    flex-direction: row;
}

.import-box {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-and-guidance {
    background-color: var(--background);
    padding: 0px 5px 5px 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid var(--button);
    display: flex;
}

.to-algn-text {
    color: var(--button);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.seperate-select {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.total-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.twobytwo1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: row dense;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}

@media (max-width:999px) {
    .twobytwo1 {
        max-height: 65vh;
    }
}

.chart-card {
    padding: 10px 0px 20px 0px;
    gap: 15px;
    border-radius: 5px;
    background-color: var(--background);
    width: 100%;
    height: 95%;
    margin: 10px;
}


.inventory-and-available-dashb-page {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inventory-and-available-dashb-page button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    background-color: var(--background-1);
    cursor: pointer;
    width: 50%;
    margin: 0px;
    color: var(--text);
    margin-bottom: 10px;

}


.inventory-and-available-dashb-page button.active {
    background-color: var(--background-1);
    color: var(--text);
    box-shadow: var(--button-hover) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.09) 0px 18px 36px -18px inset;
}

.container-for-inventory {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin-top: 10px;
}

@media (max-width: 999px) {
    .container-for-inventory {
        height: 85%;
    }
}

.container-for-models {
    margin: 5px;
    width: 98.4%;
    height: 100%;
}

.hidden {
    display: none;
}