.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vandc-container {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (max-width: 999px) {
  .chart-container {
    margin-top: 0;
    width: 85%;
    /* height: max-content; */
  }

  .dashboard-body {
    overflow: hidden;
  }
}

.dashboard-body {
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: var(--background);
  /* overflow: auto; */
}