/* Login.css */
.total-login-page {
  height: 100vh;
  width: 100%;
  background-color: rgb(217, 237, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-login-card {
  height: 70%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-flex {
  flex: 1;
  height: 100%;
  display: flex;
  border: 0.1px solid rgba(128, 128, 128, 0.127);
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .image-flex {
    display: none;
  }


}

@media (max-width: 600px) {
  .total-login-card {
    width: 70%;
    height: 55%;
  }
}

.login-form-flex {
  flex: 1.5;
  height: 100%;
  background-color: rgb(217, 237, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(182, 182, 182, 0.284);
  border-radius: 10px;
}

.image {
  width: 100%;
}

.card-to-arrange {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  font-weight: 500;
  font-size: 35px;
  color: #181b33;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  width: 90%;
}

.user-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.username-container {
  width: 100%;
  margin-left: 7px;
}

.username-container,
.password-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;

}

.password-visibility {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 17px;
  margin-left: 33px;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button {
  background: #4A55A2;
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-left: 27px;
  width: 90%;
}

.login-button:hover {
  background-color: #8a96ff;
  transition: 0.6s;

}

.login_lable_1 {
  gap: 5px;
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  margin-left: 35px;
}

.select-in-signup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 7px;
}

.select-input {
  width: 200px;
}

.error-message {
  color: red;
}