
/* Login.css */
.login-container {
  /* background-image: url('src/assets/img/login2.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#C5DFF8;
}

.login-box {
  width: max-content;
  background-color: #A0BFE0;
  padding: 90px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.error-message {
  color: red;
}

.password-visibility {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 17px;
}

.login-button {
  background: #4A55A2;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 17px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.login-button:hover{
  background-color: #8a96ff;

  transition: 0.6s;

}


.login_lable{
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
}
.login_input{
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 3px;
  outline: none;
  border: none;
  margin-left: 10px;
}