
.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vandc-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.box-for-table {
  /* background-color: #000; */
}

@media (max-width:600px) {
  .box-for-table {
    width: 90%;
    overflow-x: scroll;
  }
}

@media (max-width:1200px) {
  .box-for-tables {
    width: 90%;
    overflow-x: scroll;
  }

}

.dashboard-body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9f4fa;
}

/* .category-table-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.category-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.category-header-container h2 {
  margin-top: 20px;
}

.add-button {
  background-color: #4A55A2;
  color: white;
  border: none;
  outline: none;
  height: 40px;
  font-weight: 700;
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 6px;
  letter-spacing: 1.2;
  box-shadow: 0px 1px 3px gray;
}

.add-button:hover{
  background-color: #8a96ff;
  transition: 0.6s;
}

.data-grid-container {
  background-color: white;
  /* margin-top: 10px; */
  height: 580px;
  width: 600px;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

/* .dialog-container {
  width: 500px;
  height: 350px;
  padding: 20px;
} */

.form-label {
  width: 20px;
  height: 8px;
}

.form-select {
  width: 289px;
  padding: 5px;
  border: none;
  box-shadow: 0px 2px 7px rgb(86, 86, 86);
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: rgb(118, 118, 118);

}

.form-input {
  width: 280px;
  padding: 5px;
  border: none;
  box-shadow: 0px 2px 7px rgb(86, 86, 86);
  border-radius: 5px;
  font-size: large;
  font-weight: 500;

}

.form-input-ss {
  padding: 8px;
  border: none;
  box-shadow: 0px 2px 7px rgb(86, 86, 86);
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
}

.form-input-sp {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 280px;
  padding: 5px;
  border: none;
  box-shadow: 0px 2px 7px rgb(86, 86, 86);
  border-radius: 5px;
  font-size: large;
  font-weight: 500;

}

.form-checkbox {
  height: 17px;
  width: 17px;
  position: relative;
  top: 4px;
  left: 20px;
  padding-left: 10px;
  margin-top: 6px;
}

/* .form-image{
 font-size: 18px;
 background-color:#e8e4fcc7 ;
width: 300px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

} */

.custom-file-input {
  display: none;

}

.choose_file_placeHolder {
  color: #808080;
}


.custom-file-label {
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 2px 7px rgb(86, 86, 86);
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  width: 350px;
  height: 70px;
}

.custom-file-label:hover {
  background-color: #e9f4fa;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 20px;
  --c: no-repeat radial-gradient(farthest-side, #000 93%, #0000);
  background:
    var(--c) 0 0,
    var(--c) 50% 0;
  background-size: 8px 8px;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: l6-0 1.5s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #000;
  left: -16px;
  top: 0;
  animation:
    l6-1 1.5s linear infinite,
    l6-2 0.5s cubic-bezier(0, 200, .8, 200) infinite;
}

.loader {
  width: 50px;
  height: 20px;
  --c: no-repeat radial-gradient(farthest-side, #000 93%, #0000);
  background:
    var(--c) 0 0,
    var(--c) 50% 0,
    var(--c) 100% 0;
  background-size: 10px 10px;
  position: relative;
  animation: l4-0 1s linear infinite alternate;
}

.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  font-size: 40px;
  background: #000;
  left: 0;
  top: 0;
  animation:
    l4-1 1s linear infinite alternate,
    l4-2 0.5s cubic-bezier(0, 200, .8, 200) infinite;
}

@keyframes l4-0 {
  0% {
    background-position: 0 100%, 50% 0, 100% 0
  }

  8%,
  42% {
    background-position: 0 0, 50% 0, 100% 0
  }

  50% {
    background-position: 0 0, 50% 100%, 100% 0
  }

  58%,
  92% {
    background-position: 0 0, 50% 0, 100% 0
  }

  100% {
    background-position: 0 0, 50% 0, 100% 100%
  }
}

@keyframes l4-1 {
  100% {
    left: calc(100% - 8px)
  }
}

@keyframes l4-2 {
  100% {
    top: -0.1px
  }
}

.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cellContent {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: var(--unstable_DataGrid-headWeight);
  font-size: 20px;
}

.display_set {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}