.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chart-container {
  
  padding: 20px;
  /* box-shadow: 0 0 17px rgba(0, 0, 0, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 85%;
  justify-content: center;
  align-items: center;
}

.vandc-container {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (max-width: 999px) {
  .chart-container {
    margin-top: 0;
    /* height: max-content; */
  }

  .dashboard-body{
    overflow: hidden;
  }
}
.dashboard-body{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#e9f4fa ;
  /* overflow: auto; */
}