.distributor_id_col {
  font-size: 20px;
}

.input-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.item-list-head{
  color: var(--text);
}

.choose_file_placeHolder {
  color: #808080;
}

.input-container-sp {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.buttons-in-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.add_product_input {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #e8e4fcc7;
  width: 200px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.generate_button {
  background:var(--button);
  border: none;
  outline: none;
  margin: 15px 5px 0px 5px;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1.4px;
  width: 112px;
  display: flex;
  justify-content: center;
  cursor: pointer;

}

.generate_button:hover {
  background-color:var(--menu-hover);
  transition: 0.6s;

}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.field-inside-flex {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding-bottom: 0px;
}

.input_box_select {
  width: 290px;
  padding: 7px;
  border: none;
  box-shadow: 0px 2px 7px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: rgb(86, 86, 86);

}

.input_box {
  padding: 7px;
  border: none;
  box-shadow: 0px 2px 7px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.last {
  display: flex;
  flex: 13;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.count-size-quantity-box {
  width: 60%;
  height: 84%;
  padding: 0px 20px 20px 20px;
  overflow-y: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  border: 10px solid var(--background);
}

.price-boxes {
  width: 60%;
  height: 84%;
  overflow-y: hidden;
  padding: 0px 20px 20px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  border: 10px solid var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-and-quantity {
  height: 25vh;
  overflow-y: scroll;
}

.centering {
  padding-top: 10px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  /* Set the color of the thumb (the draggable part) */
  border-radius: 6px;
  /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* Set the color of the track (the non-draggable part) */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #efefef;
  /* Set the color of the thumb on hover */
}

::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
  /* Set the color of the scrollbar corner (where the horizontal and vertical scrollbars meet) */
}


.part_for_size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.count-div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.count_label {
  margin-top: 10px;
}

.part_for_price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.count_field {
  width: 96%;
  padding: 7px;
  border: none;
  box-shadow: 0px 2px 7px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: rgb(86, 86, 86);
  margin-bottom: 20px;
}

.size-quantity-flex {
  display: flex;
  flex-wrap: wrap;
}

.quantity_field {
  width: 16%;
  padding: 7px;
  border: none;
  box-shadow: 0px 2px 7px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: rgb(86, 86, 86);
  margin: 5px;
}

.size_field {
  width: 16%;
  padding: 7px;
  border: none;
  box-shadow: 0px 2px 7px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: rgb(86, 86, 86);
  margin: 5px;
}

@media (max-width:1400px) {
  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .price-boxes {
    overflow-y: scroll;
  }


}

@media (max-width:1320px) {
  .last {
    flex-direction: column;
  }

  .price-boxes {
    height: auto;
  }

  .centering {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price-boxes,
  .count-size-quantity-box {
    width: 50%;
  }



}

@media (max-width:650px) {

  .price-boxes,
  .count-size-quantity-box {
    width: 82%;
  }
}

.popup-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.dialog-box {
  flex: 1;
  font-weight: 700;
  min-width: 150px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #3498db;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  flex-wrap: wrap;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.dist_input {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0px 2px 7px;
  border-radius: 5px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
  color: rgb(86, 86, 86);
}



.dist_button {
  background-color: #3dbbff;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 35px 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.dist_buttton {
  background-color: #4A55A2;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.dist_button:hover {
  background-color: #4A55A2;
}

.pinned-items {
  height: 100px;
}

.s-q-button {
  border-radius: 50%;
  width: max-content;
}

.sizeandquantity {
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* flex-wrap: wrap; */
  align-content: center;
  align-items: center;
  justify-content: center;
}

.add-colour {
  margin-top: 5px;
  display: flex;
}

.form-select-1 {
  width: 289px;

  padding: 5px;
  border: none;
  box-shadow: 0px 2px 7px rgb(86, 86, 86);
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color: rgb(118, 118, 118);

}

.search-label {
  margin: 10px;
}

.search-container {
  margin: 10px;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: var(--background-1);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;


}

.image-alt-text{
  color: var(--text);
}

.item-card,
.sub-category-card,
.brand-card {
  margin: 10px 0;
  min-width: 250px;
  min-height: 100px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--background);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;

}

.selected-info {
  display: flex;
}

.item-card img,
.brand-card img {
  width: 100px;
  height: 90px;
  margin-left: 10px;
  border-radius: 5px;
}

.input_box-1 {
  padding: 5px;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.category-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.selected-info {
  padding: 10px;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
}

.selected-info p {
  padding: 20px;
}

.selected-info img {
  border-radius: 5px;
  max-width: 120px;
  max-height: 100px;
  min-height: 80px;
}

@media(max-width:950px) {
  .selected-info img {
    max-width: 100px;
    min-width: 60px;
    max-height: 80px;
  }

  .selected-info p {
    padding: 5px;
    font-size: 15px;
  }

  .selected-info {
    gap: 10px;
  }
}

.name-and-icon {
  padding: 0px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.name-and-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}


.add-icon {
  cursor: pointer;
}


.add-button-dialog {
  border: none;
  padding: 3px 10px;
  background-color: rgba(255, 255, 255, 0.267);
  color: rgb(36, 88, 202);
  font-weight: 500;
  border-radius: 3px;
  font-size: 18px;
  margin: 5px;
  transition: all 0.4s;
}

.add-button-dialog:hover {
  background-color: #45b5ed59;
}

.float-right {
  float: right;
}


input {
  margin: 5px;
}

input::file-selector-button {
  font-weight: bold;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  background-color: #4A55A2;
}

input::file-selector-button:hover {
  background-color: #4a54a2dc;
}

.form-dialog {
  display: flex;
  justify-content: space-around;
}

.dialog-content {
  width: 80%;
}

@media (max-width: 650px) {
  .dialog-content {
    width: 100%;
  }
}

img {
  min-width: 100px;
  /* height: 90px; */
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 10px;
  border: 2px solid var(--background-1);
}