



table {
  border-collapse:collapse;
  background-color: white; 
  margin-top: 10px;
  width: 100%;
}

.search-box-products{
  width: 30%;
  min-width: 200px;
}
thead{ 
  position: sticky; 
  /* top: 0;  */
} 


th {
  text-align: left;
  padding: 10px 30px 10px 20px;
  background-color: white;
  position: static;
}

.date-picker-division{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
@media (max-width: 950px){
  .date-picker-division{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .container-for-table{
    height: 75%;
    
  }
  .total-table-container{
    height: 90%;
    width: 85vw;
  }

}

td {
  text-align: left;
  padding: 20px 10px 20px 10px;
  background-color: rgba(254, 255, 255, 0.666);
  

}
td:nth-child(5), td:nth-child(1), th:nth-child(11){
  text-align: left;
  white-space: nowrap;

}




tbody tr:hover {
  background-color: #e7e6e6;
}


button {
  background-color: #4caf50; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Dialog */
.dialog-content {
  margin-top: 20px;
}

.float-right {
  float: right;
}

.total-table-container{
  height: 95%;
  width: 75vw;
}

@media (max-width: 900px){
  .total-table-container{
    width: 90vw;
  }
  .container-for-table{
    width: 100%;
  }
}

.container-for-table{
  overflow-x: scroll;
  height: 79%;
  width: 100%;
  max-height: 75%;
  background-color: white;
  border-radius:5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}





















