table {
  border-collapse: collapse;
  /* background-color: var(--background-1); */
  margin-top: 10px;
  width: 100%;
}

.search-box-products {
  width: 30%;
  min-width: 200px;
}

thead {
  position: sticky;
  top: 0px;
  box-shadow: 0px 2px 2px var(--button);

}


th {
  text-align: left;
  padding: 10px 30px 10px 20px;
  background-color: var(--background-1);
  position: static;
  color: var(--text);
}

.date-picker-division {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-1);
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 950px) {
  .date-picker-division {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .container-for-table {
    height: 73%;

  }

  .total-table-container {
    height: 85%;
    width: 85vw;
  }

}

td {
  text-align: center;
  padding: 20px 10px 20px 10px;
  /* background-color: var(--background-1); */
  color: var(--text);
  border-bottom: 1px solid var(--button);
  white-space: nowrap;

}

td:nth-child(6),
td:nth-child(1),
th:nth-child(12) {
  text-align: center;
  white-space: nowrap;

}

tr {}

tr:hover {
  cursor: pointer;
  background-color: var(--background);
}

.dialog-content {
  margin-top: 20px;
}

.float-right {
  float: right;
}

.total-table-container {
  width: 81vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media (max-width: 900px) {
  .total-table-container {
    width: 90vw;
    height: 87vh;
  }

  .container-for-table {
    width: 100%;
  }
}

.container-for-table {
  overflow-x: scroll;
  flex: 0.91;
  width: 100%;
  height: 77%;
  background-color: var(--background-1);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}